<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="" fill="outline" expand="block">Agregar contacto</ion-button>
  <ion-item *ngFor="let user of listaUser" [routerLink]="['/tabs/tab1/chat/'+user.id]">
    {{user.nombre}}
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="{{user.imagen}}" />
    </ion-thumbnail>
    <ion-label>
    </ion-label>
  </ion-item>
  
</ion-content>
