<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centrado">
      Mis mensajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    
      <ion-item [routerLink]="'chat'">
        <ion-avatar slot="start">
          <img alt="Silhouette of mountains" src="https://cloudfront-us-east-1.images.arcpublishing.com/gruponacion/IDOOO4P7TBAIZDQUUUCQOZ5NOM.jpg" />
        </ion-avatar>
        <ion-label slot="start">Papá</ion-label>
        <ion-card-subtitle slot="start">Hola cómo estás?</ion-card-subtitle>
        <ion-card-subtitle slot="end" class="hora-msg">11:01</ion-card-subtitle>
      </ion-item>


    <ion-item [routerLink]="'chat'">
      <ion-avatar slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-avatar>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item [routerLink]="'chat'">
      <ion-avatar slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-avatar>
      <ion-label>Item</ion-label>
    </ion-item>
    


  
</ion-content>
