<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of mountains" src="https://cloudfront-us-east-1.images.arcpublishing.com/gruponacion/IDOOO4P7TBAIZDQUUUCQOZ5NOM.jpg" />
      </ion-avatar>
      <ion-label slot="start">Papá</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  

<div>

  <ion-card color="light">
    <ion-card-content>Hola cómo estás?</ion-card-content>
    <ion-card-subtitle class="hora-msg">11:00</ion-card-subtitle>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-content> Paga la pensión </ion-card-content>
    <ion-card-subtitle class="hora-msg">11:01</ion-card-subtitle>
  </ion-card>
  
  <ion-item style="position: fixed ; bottom: 0; right: 0%; left: 0%;">
    <ion-input slot="start" placeholder="Escribe tu mensaje">
    </ion-input>
    <ion-button style="margin-right: 0%;" fill="clear" size="large" slot="end"><ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
  </ion-item>
</div>
</ion-content>
